.products_section{
    /* height: 100vh; */
    background: var(--color-dark);
    padding: 2rem 2rem;
    margin: 0;
}
.products_section h1{
    padding: 1rem;
}
.products_title{
    color: var(--color-primary);
}
.products_card{
    background: var(--color-bg);
    color: var(--color-white);
    padding: 1rem;
    /* width: 300px; */
}
.products_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}