.builon_section{
    background: var(--color-dark);
    padding: 2rem 0;
    color: var(--color-text);
    
}
.buildon_col_two{
    background: var(--color-primary);
    border-radius: 10px;
    padding: 2rem;
}
.buildon_col_two h3{
    color: var(--color-white);
}
.buildon_btn_two{
    color: var(--color-primary) ;
    background: var(--color-dark);
}
.buildon_btn_two:hover{
    color: var(--color-dark);
    background: var(--color-white);
}
.buildon_row{
    
}